
body{
  margin: 0px;
  font-family: "Lucida Console", Times, serif;

}

#wrapper{

  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

header{
  height: 200px;
  width: 100%;
  background: blue;
  margin: 0px;
  font-size: 40px;

}

nav{
  height: 30px;
  width: 100%;
  background: black;
  margin: 0px;


}

main{
  height: 550px;
  width: 75%;
  background: white;
  margin: 15px;


}

aside{
  height: 550px;
  width: 25%;
  background: white;

}

footer{
  height: 100px;
  width: 100%;
  background: black;
  margin: 0px;

}

#container{
  display: flex;
}

a{
  color: blue;
  text-decoration: none;
  font-size: 20px;
}
